{% extends "base.html" %}
{% block content %}
    <div class="row card-panel white text-black">
        <form action="{{ url_for('search') }}" method="post" class="col-12">
            <div class="row valign-wrapper center-align">
                <div class="input-field col s12 m8">
                    <input type="text" name="query" minlength="3" id="query" class="validate" required>
                    <label for="query">Search Cocktail</label>
                </div>
                <div class="col s12 m4">
                    <a href="{{ url_for('get_ingredients') }}" class="btn-reset">Reset</a>
                    <button type="submit" class="btn-search">
                    Search
                    </button>
                </div>
            </div>
        </form>
    </div>
	<ul class="collapsible">
        {% for ingredient in ingredients %}
            {% if session.user|lower == ingredient.created_by|lower %}
		<li>
			<div class="collapsible-header">
				<div class="col s6 ">
					<strong>{{ ingredient.cocktail_name }}</strong>
				</div>
			</div>
			<div class="collapsible-body">
			<div class="col s12 m12 l6">
				<img class="responsive-img image-shadow image" width="250px" height="250px" src="{{ ingredient.image_url }}" alt="{{ ingredient.image_url }}">
			 </div>
            <h5>DESCRIPTION:</h5><p>{{ ingredient.description_cocktail }}</p><hr>
            <h5>METHOD:</h5><p>{{ ingredient.method }} </p><hr>
            <h5>ICE:</h5><p>{{ ingredient.ice }} </p><hr>
            <h5>GARNISH:</h5><p>{{ ingredient.garnish }} </p><hr>
            <h5>COMMENT:</h5><p>{{ ingredient.comment }} </p><hr>
            <h5>MAIN DISTILLED ALCOHOL:</h5><p>{{ ingredient.category_name }} </p><hr>
            <strong>Created by:<p><em>{{ ingredient.created_by }}</em></p></strong>
            <div class="col s6">
					{% if session.user|lower == ingredient.created_by|lower %}
                        <a href="{{ url_for('delete_cocktail', ingredient_id=ingredient._id) }}" class=" btn-delete">Delete</a>
                        <a href="{{ url_for('edit_cocktail', ingredient_id=ingredient._id) }}" class="btn-edit"> Edit</a>
					{% endif %}
				</div>
            </div>
		</li>
            {% endif %}
        {% endfor %}
	</ul>
        
{% endblock %}