{% extends "base.html" %}
{% block content %}

	<ul class="collapsible">
        {% for ingredient in ingredients %}
		<li>
			<div class="collapsible-header"><i class="fas fa-arrow-circle-right"></i>
				<div class="col s3">
					<i class="fas fa-caret-down"></i>
                    {% if session.user|lower == ingredient.created_by|lower %}
					<a href="{{ url_for('delete_cocktail', ingredient_id=ingredient._id) }}" class="btn-small red accent-4">Delete</a>
					<a href="{{ url_for('edit_cocktail', ingredient_id=ingredient._id) }}" class="btn-small light-blue lighten-1">Edit</a>
                    {% endif %}
				</div>
				<div class="col s9">
					<strong>{{ ingredient.cocktail_name }}</strong>
				</div>
			</div>
			<div class="collapsible-body">
            <h5>DESCRIPTION:</h5><p>{{ ingredient.description_cocktail }}</p><hr>
            <h5>METHOD:</h5><p>{{ ingredient.method }} </p><hr>
            <h5>ICE:</h5><p>{{ ingredient.ice }} </p><hr>
            <h5>GARNISH:</h5><p>{{ ingredient.garnish }} </p><hr>
            <h5>COMMENT:</h5><p>{{ ingredient.comment }} </p><hr>
            <h5>MAIN DISTILLED ALCOHOL:</h5><p>{{ ingredient.category_name }} </p><hr>
            <p><em>{{ ingredient.created_by }}</em></p>

            </div>
		</li>
        {% endfor %}
	</ul>
        
{% endblock %}