{% extends "base.html" %}
{% block content %}

<h3 class="black-text text-darken-4 center-align">My Cocktails</h3>
<div class="row">
    {% for category in categories %}
	<div class="col s12 m3">
		<div class="card grey darken-1">
			<div class="card-content white-text text-shadow center-align">
				<span class="card-title">{{ category.cocktail_name }}</span>
			</div>
			<div class="card-action">
				<a href="#" class="btn blue accent-4">Edit</a>
				<a href="#" class="btn orange ">Delete</a>
			</div>
		</div>
	</div>
    {% endfor %}
</div>
{% endblock %}