{% extends "base.html" %}
{% block content %}

    <!-- User Profile Name -->
    <div class="row">
        <div class="col s12 m8 offset-m2">
            <h3 class="center-align black-text">Hello
                <b class="deep-orange-text text-lighten-3">{{ username }}</b> !</h3>
        </div>
        <div class="col s12 m12 l12 center-align" >
            <a  href="{{ url_for('profile', username=session['user']) }}" class="btn btn-recipe edit">Edit</a>
        </div>
    </div>
    <!----------------------------------->
    

{% endblock %}
